#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Image_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Softkeys-bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Square {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Circle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Triangle {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-Bg_status {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=15) ;
  filter: alpha(opacity=15) ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-hour {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a #t-signals {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f39803f7-df02-4169-93eb-7547fb8c961a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}