#s-00275739-e229-4b9d-a259-87863ff27812 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Cibo {
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Rectangle_2 {
  -pie-background: linear-gradient(to bottom,#D70000,#FF0000);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Rectangle_3 {
  -pie-background: linear-gradient(to bottom,#FDCA45,#FECB6E);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Rectangle_4 {
  -pie-background: linear-gradient(to bottom,#6ACB9A,#6ACA6B);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Rectangle_5 {
  -pie-background: linear-gradient(to bottom,#FC1268,#FD1999);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Rectangle_6 {
  -pie-background: linear-gradient(to bottom,#FD9941,#FD9927);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Cibo_1 {
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Rectangle_7 {
  -pie-background: linear-gradient(to bottom,#6BCDFD,#6ACCCB);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Rectangle_8 {
  -pie-background: linear-gradient(to bottom,#67971A,#6ACA6B);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Rectangle_9 {
  -pie-background: linear-gradient(to bottom,#FD676A,#FC3A99);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Rectangle_10 {
  -pie-background: linear-gradient(to bottom,#6669C9,#676CFB);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Image_9 {
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Cibo_2 {
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Rectangle_11 {
  -pie-background: linear-gradient(to bottom,#FECB9C,#FD9BCB);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Rectangle_12 {
  -pie-background: linear-gradient(to bottom,#6ACB9A,#689ACA);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Rectangle_13 {
  -pie-background: linear-gradient(to bottom,#FC0F3B,#699CFC);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Image_12 {
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Image_14 {
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Line_1 {
  stroke-width: 5px;
  stroke: #B05C45;
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Line_1 {
  stroke-width: 5px;
  stroke: #B05C45;
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Line_2 {
  stroke-width: 5px;
  stroke: #B05C45;
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Line_2 {
  stroke-width: 5px;
  stroke: #B05C45;
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Line_4 {
  stroke-width: 5px;
  stroke: #B05C45;
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Line_4 {
  stroke-width: 5px;
  stroke: #B05C45;
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Ellipse_2 {
  stroke-width: 4px;
  stroke: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Notification {
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Notification-Number {
  -ms-transform: rotate(0.0deg);
}
#s-00275739-e229-4b9d-a259-87863ff27812 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-00275739-e229-4b9d-a259-87863ff27812 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}