#s-03b38d2b-b877-4da5-bfa3-ca41c98702e7 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03b38d2b-b877-4da5-bfa3-ca41c98702e7 #s-Picture_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03b38d2b-b877-4da5-bfa3-ca41c98702e7 #s-star-1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03b38d2b-b877-4da5-bfa3-ca41c98702e7 #s-star-1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03b38d2b-b877-4da5-bfa3-ca41c98702e7 #s-star-1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03b38d2b-b877-4da5-bfa3-ca41c98702e7 #s-star-1_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03b38d2b-b877-4da5-bfa3-ca41c98702e7 #s-star-1_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03b38d2b-b877-4da5-bfa3-ca41c98702e7 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03b38d2b-b877-4da5-bfa3-ca41c98702e7 #s-Picture_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03b38d2b-b877-4da5-bfa3-ca41c98702e7 #s-star-1_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03b38d2b-b877-4da5-bfa3-ca41c98702e7 #s-star-1_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03b38d2b-b877-4da5-bfa3-ca41c98702e7 #s-star-1_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03b38d2b-b877-4da5-bfa3-ca41c98702e7 #s-star-1_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03b38d2b-b877-4da5-bfa3-ca41c98702e7 #s-star-1_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03b38d2b-b877-4da5-bfa3-ca41c98702e7 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03b38d2b-b877-4da5-bfa3-ca41c98702e7 #s-Ellipse_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03b38d2b-b877-4da5-bfa3-ca41c98702e7 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03b38d2b-b877-4da5-bfa3-ca41c98702e7 #s-Notification {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-03b38d2b-b877-4da5-bfa3-ca41c98702e7 #s-Notification-Number {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-03b38d2b-b877-4da5-bfa3-ca41c98702e7 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}