#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Text_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Text_1 {
  position: absolute;
  width: 321px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Text_1 > .clipping, #s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Text_1 > .paddingLayer {
  height: 30px;
  width: 321px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Text_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Float-button-plus {
  position: absolute;
  width: 56px;
  height: 56px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_23 > .shapert-clipping {
  width: 56px;
  height: 56px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_23 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
  overflow: hidden;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_23 .content {
  text-shadow: none;
  width: 56px;
  height: 56px;
  line-height: 38px;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_23 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_23 {
  position: absolute;
  width: 56px;
  height: 56px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Ellipse_23 {
  width: 56px;
  height: 56px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #B05C45;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: 0px 2px 5px 0px #999999;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_23 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_23 span#rtr-s-Ellipse_23_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_24 > .shapert-clipping {
  width: 56px;
  height: 56px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_24 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 56px;
  height: 56px;
  position: absolute;
  overflow: hidden;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_24 .content {
  text-shadow: none;
  width: 56px;
  height: 56px;
  line-height: 38px;
  font-size: 8.0pt;
  font-family: 'Arial',Arial;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_24 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_24 {
  position: absolute;
  width: 56px;
  height: 56px;
  opacity: 0.5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Ellipse_24 {
  width: 56px;
  height: 56px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_24 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_24 span#rtr-s-Ellipse_24_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 8.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-plus_2 > svg {
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-plus_2 {
  position: absolute;
  width: 38px;
  height: 36px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-plus_2 > img, #s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-plus_2 > svg {
  height: 36px;
  width: 38px;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Image_1 {
  position: absolute;
  width: 277px;
  height: 175px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Image_1 > img, #s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Image_1 > svg {
  height: 175px;
  width: 277px;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Image_16 > svg {
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Image_16 {
  position: absolute;
  width: 32px;
  height: 32px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Image_16 > img, #s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Image_16 > svg {
  height: 32px;
  width: 32px;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Text_2 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Text_2 {
  position: absolute;
  width: 238px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Text_2 > .clipping, #s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Text_2 > .paddingLayer {
  height: 30px;
  width: 238px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Text_2 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Text_2 span#rtr-s-Text_2_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Text_2 span#rtr-s-Text_2_1 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_1 > .shapert-clipping {
  width: 40px;
  height: 40px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  overflow: hidden;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_1 .content {
  text-shadow: none;
  width: 40px;
  height: 40px;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_1 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Ellipse_1 {
  width: 36px;
  height: 36px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #999999;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  stroke-width: 4px;
  stroke: #404040;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_1 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Image_43 > svg {
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Image_43 {
  position: absolute;
  width: 34px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Image_43 > img, #s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Image_43 > svg {
  height: 34px;
  width: 34px;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_5 > .backgroundLayer {
  height: calc(100% + -4px);
  width: calc(100% + -4px);
  background-color: #666666;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_5 {
  position: absolute;
  width: 360px;
  height: 472px;
  opacity: 0.6;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_5 > .clipping, #s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_5 > .paddingLayer {
  height: 468px;
  width: 356px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_5 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Message-light_1 {
  position: absolute;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Content_panel_1 {
  width: 0px;
  height: 208px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Content_panel_1 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FAFAFA;
  background-image: none;
  box-shadow: 0px 7px 25px 2px #999999;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Content_panel_1 td.layout {
  padding: 0px 0px 0px 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Content_panel_1 > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 77px;
  height: 208px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Content_panel_1 .verticalalign {
  vertical-align: top;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FAFAFA;
  background-image: none;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_4 {
  position: absolute;
  width: 279px;
  height: auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_4 > .clipping, #s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_4 > .paddingLayer {
  height: calc(100% + -20px);
  width: calc(100% + -32px);
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_4 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_4 span#rtr-s-Rectangle_4_1 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_4 span#rtr-s-Rectangle_4_2 {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_5 {
  position: absolute;
  width: 80px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_5 > .clipping, #s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_5 > .paddingLayer {
  height: 29px;
  width: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_5 span {
  color: #747474;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #747474;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #CCCCCC;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_6 {
  position: absolute;
  width: 80px;
  height: 29px;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_6 > .clipping, #s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_6 > .paddingLayer {
  height: 29px;
  width: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_6 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_11 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_11 {
  position: absolute;
  width: 80px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_11 > .clipping, #s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_11 > .paddingLayer {
  height: 29px;
  width: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_11 span {
  color: #08AE9E;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_11 span#rtr-s-Button_11_0 {
  color: #08AE9E;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_12 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #CCCCCC;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_12 {
  position: absolute;
  width: 80px;
  height: 29px;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_12 > .clipping, #s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_12 > .paddingLayer {
  height: 29px;
  width: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_12 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_12 span#rtr-s-Button_12_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Message-light {
  position: absolute;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Content_panel {
  width: 0px;
  height: 284px;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Content_panel > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FAFAFA;
  background-image: none;
  box-shadow: 0px 7px 25px 2px #999999;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Content_panel td.layout {
  padding: 0px 0px 0px 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Content_panel > .layoutWrapper {
  left: 0px;
  top: 0px;
  width: 78px;
  height: 284px;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Content_panel .verticalalign {
  vertical-align: top;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #FAFAFA;
  background-image: none;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_3 {
  position: absolute;
  width: 0px;
  height: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 21px;
  font-size: 14.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_3 > .clipping, #s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_3 > .paddingLayer {
  height: 2px;
  width: 68px;
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 16px;
  padding-right: 16px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_3 span {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_3 {
  position: absolute;
  width: 80px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_3 > .clipping, #s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_3 > .paddingLayer {
  height: 29px;
  width: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_3 span {
  color: #747474;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #747474;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #CCCCCC;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_4 {
  position: absolute;
  width: 80px;
  height: 29px;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_4 > .clipping, #s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_4 > .paddingLayer {
  height: 29px;
  width: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_9 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_9 {
  position: absolute;
  width: 80px;
  height: 29px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Roboto-Medium',Arial;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_9 > .clipping, #s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_9 > .paddingLayer {
  height: 29px;
  width: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_9 span {
  color: #08AE9E;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_9 span#rtr-s-Button_9_0 {
  color: #08AE9E;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Medium',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #CCCCCC;
  background-image: none;
  border-radius: 0px 0px 0px 0px;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_10 {
  position: absolute;
  width: 80px;
  height: 29px;
  opacity: 0.35;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 15.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_10 > .clipping, #s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_10 > .paddingLayer {
  height: 29px;
  width: 80px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_10 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Button_10 span#rtr-s-Button_10_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 15.0pt;
  line-height: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-input {
  position: absolute;
  width: 267px;
  height: 44px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_3 input::-webkit-input-placeholder {
  color: #808080;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_3 input::-moz-placeholder {
  color: #808080;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_3 input:-moz-placeholder {
  color: #808080;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_3 input:-ms-input-placeholder {
  color: #808080;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_3 {
  position: absolute;
  width: 0px;
  height: 44px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_3 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_3 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_3 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_3 > .paddingLayer {
  height: 20px;
  width: 90px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Line_5 marker {
  fill: #757575;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Line_5 {
  position: absolute;
  width: 267px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Line_5 {
  width: 95px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Line_6 marker {
  fill: #019AE8;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Line_6 {
  position: absolute;
  width: 267px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Line_6 {
  width: 95px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #019AE8;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-input_1 {
  position: absolute;
  width: 127px;
  height: 44px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_4 input::-webkit-input-placeholder {
  color: #808080;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_4 input::-moz-placeholder {
  color: #808080;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_4 input:-moz-placeholder {
  color: #808080;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_4 input:-ms-input-placeholder {
  color: #808080;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_4 {
  position: absolute;
  width: 0px;
  height: 44px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_4 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_4 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_4 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_4 > .paddingLayer {
  height: 20px;
  width: 40px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Line_7 marker {
  fill: #757575;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Line_7 {
  position: absolute;
  width: 127px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Line_7 {
  width: 45px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Line_8 marker {
  fill: #019AE8;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Line_8 {
  position: absolute;
  width: 127px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Line_8 {
  width: 45px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #019AE8;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-input_2 {
  position: absolute;
  width: 127px;
  height: 44px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_5 input::-webkit-input-placeholder {
  color: #808080;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_5 input::-moz-placeholder {
  color: #808080;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_5 input:-moz-placeholder {
  color: #808080;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_5 input:-ms-input-placeholder {
  color: #808080;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_5 {
  position: absolute;
  width: 0px;
  height: 44px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_5 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_5 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_5 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_5 > .paddingLayer {
  height: 20px;
  width: 40px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Line_9 marker {
  fill: #757575;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Line_9 {
  position: absolute;
  width: 127px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Line_9 {
  width: 45px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Line_10 marker {
  fill: #019AE8;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Line_10 {
  position: absolute;
  width: 127px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Line_10 {
  width: 45px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #019AE8;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-input_3 {
  position: absolute;
  width: 267px;
  height: 44px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_6 input::-webkit-input-placeholder {
  color: #808080;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_6 input::-moz-placeholder {
  color: #808080;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_6 input:-moz-placeholder {
  color: #808080;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_6 input:-ms-input-placeholder {
  color: #808080;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_6 {
  position: absolute;
  width: 0px;
  height: 44px;
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_6 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_6 input {
  color: #434343;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_6 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Input_6 > .paddingLayer {
  height: 20px;
  width: 90px;
  padding-top: 16px;
  padding-bottom: 8px;
  padding-left: 5px;
  padding-right: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Line_11 marker {
  fill: #757575;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Line_11 {
  position: absolute;
  width: 267px;
  height: 1px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Line_11 {
  width: 95px;
  height: 0px;
  padding-top: 1px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 1px;
  stroke: #757575;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Line_12 marker {
  fill: #019AE8;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Line_12 {
  position: absolute;
  width: 267px;
  height: 2px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Line_12 {
  width: 95px;
  height: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  stroke-width: 2px;
  stroke: #019AE8;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Notification > svg {
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Notification {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Notification > img, #s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Notification > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Notification-Number > .shapert-clipping {
  width: 16px;
  height: 16px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Notification-Number .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
  overflow: hidden;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Notification-Number .content {
  text-shadow: none;
  width: 16px;
  height: 16px;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Notification-Number > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Notification-Number {
  position: absolute;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #s-Notification-Number {
  width: 16px;
  height: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #CE0000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Notification-Number .valign {
  vertical-align: middle;
  text-align: center;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Notification-Number span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 #shapewrapper-s-Notification-Number span#rtr-s-Notification-Number_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-06a3aabc-9ad6-458d-a09c-2d74870b7ef2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}