#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Single-line-item {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Single-line-item_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Single-line-item_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Compleanni {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Compleanni_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Compleanni_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Compleanni_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Compleanni_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Ellipse_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Notification {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Notification-Number {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}