#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Single-line-item {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Single-line-item_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Single-line-item_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Compleanni {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Compleanni_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Compleanni_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Compleanni_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Ellipse_1 {
  stroke-width: 4px;
  stroke: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Compleanni_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Ellipse_2 {
  stroke-width: 4px;
  stroke: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Notification {
  -ms-transform: rotate(0.0deg);
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Notification-Number {
  -ms-transform: rotate(0.0deg);
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-0f0f1df9-517c-4f88-a099-d643fa62a62f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}