#s-13b49caa-32d9-4d6a-a693-99c86f3c6bca #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13b49caa-32d9-4d6a-a693-99c86f3c6bca #s-Image_121 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13b49caa-32d9-4d6a-a693-99c86f3c6bca #s-button {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13b49caa-32d9-4d6a-a693-99c86f3c6bca #s-tap-button {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13b49caa-32d9-4d6a-a693-99c86f3c6bca #s-Ellipse_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13b49caa-32d9-4d6a-a693-99c86f3c6bca #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13b49caa-32d9-4d6a-a693-99c86f3c6bca #s-button_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13b49caa-32d9-4d6a-a693-99c86f3c6bca #s-tap-button_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13b49caa-32d9-4d6a-a693-99c86f3c6bca #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13b49caa-32d9-4d6a-a693-99c86f3c6bca #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13b49caa-32d9-4d6a-a693-99c86f3c6bca #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13b49caa-32d9-4d6a-a693-99c86f3c6bca #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13b49caa-32d9-4d6a-a693-99c86f3c6bca #s-Paragraph_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13b49caa-32d9-4d6a-a693-99c86f3c6bca #s-Line_1 {
  rotation: 119.0;
  margin-left: -1px;
  margin-top: -8px;
}
#s-13b49caa-32d9-4d6a-a693-99c86f3c6bca #s-Paragraph_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13b49caa-32d9-4d6a-a693-99c86f3c6bca #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13b49caa-32d9-4d6a-a693-99c86f3c6bca #s-Notification {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-13b49caa-32d9-4d6a-a693-99c86f3c6bca #s-Notification-Number {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-13b49caa-32d9-4d6a-a693-99c86f3c6bca > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}