#s-18209a6a-a252-4318-b9c6-acff5b4f88d4 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-18209a6a-a252-4318-b9c6-acff5b4f88d4 #s-Image_121 {
  -ms-transform: rotate(0.0deg);
}
#s-18209a6a-a252-4318-b9c6-acff5b4f88d4 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-18209a6a-a252-4318-b9c6-acff5b4f88d4 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-18209a6a-a252-4318-b9c6-acff5b4f88d4 #s-Button_9 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-18209a6a-a252-4318-b9c6-acff5b4f88d4 #s-Button_10 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-18209a6a-a252-4318-b9c6-acff5b4f88d4 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-18209a6a-a252-4318-b9c6-acff5b4f88d4 #s-Ellipse_2 {
  stroke-width: 4px;
  stroke: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-18209a6a-a252-4318-b9c6-acff5b4f88d4 #s-tap-button {
  -ms-transform: rotate(0.0deg);
}
#s-18209a6a-a252-4318-b9c6-acff5b4f88d4 #s-button {
  -ms-transform: rotate(0.0deg);
}
#s-18209a6a-a252-4318-b9c6-acff5b4f88d4 #s-Image_34 {
  -ms-transform: rotate(0.0deg);
}
#s-18209a6a-a252-4318-b9c6-acff5b4f88d4 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-18209a6a-a252-4318-b9c6-acff5b4f88d4 #s-Paragraph_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-18209a6a-a252-4318-b9c6-acff5b4f88d4 #s-Paragraph_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-18209a6a-a252-4318-b9c6-acff5b4f88d4 #s-Line_1 {
  stroke-width: 2px;
  stroke: #434343;
  -ms-transform: rotate(11.0deg);
}
#s-18209a6a-a252-4318-b9c6-acff5b4f88d4 #s-Line_1 {
  stroke-width: 2px;
  stroke: #434343;
  -ms-transform: rotate(11.0deg);
}
#s-18209a6a-a252-4318-b9c6-acff5b4f88d4 #s-Notification {
  -ms-transform: rotate(0.0deg);
}
#s-18209a6a-a252-4318-b9c6-acff5b4f88d4 #s-Notification-Number {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-18209a6a-a252-4318-b9c6-acff5b4f88d4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}