#s-19dced2a-b6f4-4633-8eeb-b297bd92d3f0 #s-Suggeriti .s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19dced2a-b6f4-4633-8eeb-b297bd92d3f0 #s-Suggeriti .s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19dced2a-b6f4-4633-8eeb-b297bd92d3f0 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19dced2a-b6f4-4633-8eeb-b297bd92d3f0 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19dced2a-b6f4-4633-8eeb-b297bd92d3f0 #s-cibo .s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19dced2a-b6f4-4633-8eeb-b297bd92d3f0 #s-cibo .s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19dced2a-b6f4-4633-8eeb-b297bd92d3f0 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19dced2a-b6f4-4633-8eeb-b297bd92d3f0 #s-cibo_1 .s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19dced2a-b6f4-4633-8eeb-b297bd92d3f0 #s-cibo_1 .s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19dced2a-b6f4-4633-8eeb-b297bd92d3f0 #s-Ellipse_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19dced2a-b6f4-4633-8eeb-b297bd92d3f0 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19dced2a-b6f4-4633-8eeb-b297bd92d3f0 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19dced2a-b6f4-4633-8eeb-b297bd92d3f0 #s-Notification {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19dced2a-b6f4-4633-8eeb-b297bd92d3f0 #s-Notification-Number {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19dced2a-b6f4-4633-8eeb-b297bd92d3f0 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-19dced2a-b6f4-4633-8eeb-b297bd92d3f0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}