#s-1e8f05f4-3ced-4df6-970f-0240420921c9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e8f05f4-3ced-4df6-970f-0240420921c9 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e8f05f4-3ced-4df6-970f-0240420921c9 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e8f05f4-3ced-4df6-970f-0240420921c9 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e8f05f4-3ced-4df6-970f-0240420921c9 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e8f05f4-3ced-4df6-970f-0240420921c9 #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e8f05f4-3ced-4df6-970f-0240420921c9 #s-Ellipse_24 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e8f05f4-3ced-4df6-970f-0240420921c9 #s-plus_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e8f05f4-3ced-4df6-970f-0240420921c9 #s-Ellipse_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e8f05f4-3ced-4df6-970f-0240420921c9 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e8f05f4-3ced-4df6-970f-0240420921c9 #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e8f05f4-3ced-4df6-970f-0240420921c9 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e8f05f4-3ced-4df6-970f-0240420921c9 #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e8f05f4-3ced-4df6-970f-0240420921c9 #s-Button_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e8f05f4-3ced-4df6-970f-0240420921c9 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e8f05f4-3ced-4df6-970f-0240420921c9 #s-Notification {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1e8f05f4-3ced-4df6-970f-0240420921c9 #s-Notification-Number {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-1e8f05f4-3ced-4df6-970f-0240420921c9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}