#s-204408b9-3022-44ae-9b3e-fe98ea58a65c #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-204408b9-3022-44ae-9b3e-fe98ea58a65c #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-204408b9-3022-44ae-9b3e-fe98ea58a65c #s-raised_Button {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  height: 34px;
  width: 105px;
  -ms-transform: rotate(0.0deg);
}
#s-204408b9-3022-44ae-9b3e-fe98ea58a65c #s-Ellipse_4 {
  stroke-width: 4px;
  stroke: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-204408b9-3022-44ae-9b3e-fe98ea58a65c #s-Notification {
  -ms-transform: rotate(0.0deg);
}
#s-204408b9-3022-44ae-9b3e-fe98ea58a65c #s-Notification-Number {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-204408b9-3022-44ae-9b3e-fe98ea58a65c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}