#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-Ellipse_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-tap-button_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-button_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-Image_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-button {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-tap-button {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-Notification {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-Notification-Number {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}