#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-Ellipse_2 {
  stroke-width: 4px;
  stroke: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-tap-button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-button_1 {
  -ms-transform: rotate(0.0deg);
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-Image_72 {
  -ms-transform: rotate(0.0deg);
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-button {
  -ms-transform: rotate(0.0deg);
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-tap-button {
  -ms-transform: rotate(0.0deg);
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-Notification {
  -ms-transform: rotate(0.0deg);
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee #s-Notification-Number {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-26c309f8-cd31-4d30-8f25-89e1e0458fee > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}