#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Button_9 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Button_10 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Content_panel_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  border-radius: 3px 3px 3px 3px;
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Txt {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Line_1 {
  stroke-width: 1px;
  stroke: #C0C0C0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=61) progid:DXImageTransform.Microsoft.Alpha(Opacity=61);
  filter: alpha(opacity=61) alpha(opacity=61);
  -ms-transform: rotate(0.0deg);
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Line_1 {
  stroke-width: 1px;
  stroke: #C0C0C0;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=61) progid:DXImageTransform.Microsoft.Alpha(Opacity=61);
  filter: alpha(opacity=61) alpha(opacity=61);
  -ms-transform: rotate(0.0deg);
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-archive {
  -ms-transform: rotate(0.0deg);
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Button_23 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 77px;
  -ms-transform: rotate(0.0deg);
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Button_24 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 98px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-reply {
  -ms-transform: rotate(0.0deg);
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Button_25 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 86px;
  -ms-transform: rotate(0.0deg);
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Button_26 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 103px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-mail {
  -ms-transform: rotate(0.0deg);
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-time {
  -ms-transform: rotate(0.0deg);
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}