#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Button_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Txt {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-archive {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Button_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Button_24 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-reply {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Button_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Button_26 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-mail {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-time {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-2d5a9997-4819-408f-93f7-56d7ad815c0a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}