#s-38660f32-e16a-40f7-b49c-5bf23eba3272 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-38660f32-e16a-40f7-b49c-5bf23eba3272 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-38660f32-e16a-40f7-b49c-5bf23eba3272 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-38660f32-e16a-40f7-b49c-5bf23eba3272 #s-Ellipse_2 {
  stroke-width: 4px;
  stroke: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-38660f32-e16a-40f7-b49c-5bf23eba3272 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-38660f32-e16a-40f7-b49c-5bf23eba3272 #s-Notification {
  -ms-transform: rotate(0.0deg);
}
#s-38660f32-e16a-40f7-b49c-5bf23eba3272 #s-Notification-Number {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-38660f32-e16a-40f7-b49c-5bf23eba3272 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}