#s-42caed59-35ad-42f3-8d1f-dedc05c1384f > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f > #alignmentBox {
  position: relative;
  max-width: 360px;
  max-height: 640px;
  width: 100%;
  height: 100%;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #s-Image_43 > svg {
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #s-Image_43 {
  position: absolute;
  width: 34px;
  height: 34px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #s-Image_43 > img, #s-42caed59-35ad-42f3-8d1f-dedc05c1384f #s-Image_43 > svg {
  height: 34px;
  width: 34px;
  box-shadow: none;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #shapewrapper-s-Ellipse_3 > .shapert-clipping {
  width: 40px;
  height: 40px;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #shapewrapper-s-Ellipse_3 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  overflow: hidden;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #shapewrapper-s-Ellipse_3 .content {
  text-shadow: none;
  width: 40px;
  height: 40px;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #shapewrapper-s-Ellipse_3 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #shapewrapper-s-Ellipse_3 {
  position: absolute;
  width: 40px;
  height: 40px;
  opacity: 0.5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #s-Ellipse_3 {
  width: 36px;
  height: 36px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  padding-right: 2px;
  background-color: #999999;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  stroke-width: 4px;
  stroke: #404040;
  box-shadow: none;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #shapewrapper-s-Ellipse_3 span {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #808080;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 11.0pt;
  line-height: 0px;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #s-Image_1 {
  position: absolute;
  width: 361px;
  height: 469px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #s-Image_1 > img, #s-42caed59-35ad-42f3-8d1f-dedc05c1384f #s-Image_1 > svg {
  height: 469px;
  width: 361px;
  box-shadow: none;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #s-Notification > svg {
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #s-Notification {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #s-Notification > img, #s-42caed59-35ad-42f3-8d1f-dedc05c1384f #s-Notification > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #shapewrapper-s-Notification-Number > .shapert-clipping {
  width: 16px;
  height: 16px;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #shapewrapper-s-Notification-Number .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 16px;
  height: 16px;
  position: absolute;
  overflow: hidden;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #shapewrapper-s-Notification-Number .content {
  text-shadow: none;
  width: 16px;
  height: 16px;
  line-height: 15px;
  font-size: 8.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #shapewrapper-s-Notification-Number > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #shapewrapper-s-Notification-Number {
  position: absolute;
  width: 16px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #s-Notification-Number {
  width: 16px;
  height: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #CE0000;
  background-repeat: repeat;
  background-position-x: left;
  background-position-y: top;
  background-attachment: scroll;
  background-size: auto;
  background-image: none;
  box-shadow: none;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #shapewrapper-s-Notification-Number .valign {
  vertical-align: middle;
  text-align: center;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #shapewrapper-s-Notification-Number span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #shapewrapper-s-Notification-Number span#rtr-s-Notification-Number_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 8.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}