#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #s-Ellipse_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #s-Notification {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f #s-Notification-Number {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-42caed59-35ad-42f3-8d1f-dedc05c1384f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}