#s-67270b71-c077-4833-882f-78201efd3514 #s-Item-row_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67270b71-c077-4833-882f-78201efd3514 #s-Picture_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67270b71-c077-4833-882f-78201efd3514 #s-date_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67270b71-c077-4833-882f-78201efd3514 #s-Item-row_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67270b71-c077-4833-882f-78201efd3514 #s-Picture_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67270b71-c077-4833-882f-78201efd3514 #s-date_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67270b71-c077-4833-882f-78201efd3514 #s-Item-row_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67270b71-c077-4833-882f-78201efd3514 #s-Picture_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67270b71-c077-4833-882f-78201efd3514 #s-date_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67270b71-c077-4833-882f-78201efd3514 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67270b71-c077-4833-882f-78201efd3514 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67270b71-c077-4833-882f-78201efd3514 #s-Notification {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67270b71-c077-4833-882f-78201efd3514 #s-Notification-Number {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-67270b71-c077-4833-882f-78201efd3514 #s-Ellipse_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-67270b71-c077-4833-882f-78201efd3514 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}