#s-681e83e5-7933-4757-86bd-a95cbee04712 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-681e83e5-7933-4757-86bd-a95cbee04712 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-681e83e5-7933-4757-86bd-a95cbee04712 #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-681e83e5-7933-4757-86bd-a95cbee04712 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-681e83e5-7933-4757-86bd-a95cbee04712 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-681e83e5-7933-4757-86bd-a95cbee04712 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-681e83e5-7933-4757-86bd-a95cbee04712 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-681e83e5-7933-4757-86bd-a95cbee04712 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-681e83e5-7933-4757-86bd-a95cbee04712 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-681e83e5-7933-4757-86bd-a95cbee04712 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-681e83e5-7933-4757-86bd-a95cbee04712 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-681e83e5-7933-4757-86bd-a95cbee04712 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}