#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Ellipse_24 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-plus_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Ellipse_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Rectangle_5 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Button_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Button_6 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Button_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Button_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Button_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Line_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Line_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Line_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Line_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Line_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Line_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Line_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Notification {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 #s-Notification-Number {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-6e58cd6c-d30c-498a-9e7b-503ad60ae464 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}