#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Suggeriti .s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Suggeriti .s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-cibo .s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-cibo .s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-cibo_1 .s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-cibo_1 .s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50) ;
  filter: alpha(opacity=50) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85) ;
  filter: alpha(opacity=85) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Line_1 {
  rotation: 58.0;
  margin-left: 7px;
  margin-top: -21px;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Line_2 {
  rotation: 80.0;
  margin-left: 32px;
  margin-top: -42px;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Line_3 {
  rotation: 58.0;
  margin-left: 4px;
  margin-top: -15px;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Line_4 {
  rotation: 315.0;
  margin-left: 2px;
  margin-top: -12px;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Ellipse_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Notification {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Notification-Number {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}