#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Suggeriti .s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Suggeriti .s-Rectangle_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-cibo .s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-cibo .s-Rectangle_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-cibo_1 .s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-cibo_1 .s-Rectangle_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Rectangle_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  filter: alpha(opacity=85);
  -ms-transform: rotate(0.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Line_1 {
  stroke-width: 2px;
  stroke: #EFEFEF;
  -ms-transform: rotate(58.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Line_1 {
  stroke-width: 2px;
  stroke: #EFEFEF;
  -ms-transform: rotate(58.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Line_2 {
  stroke-width: 2px;
  stroke: #EFEFEF;
  -ms-transform: rotate(80.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Line_2 {
  stroke-width: 2px;
  stroke: #EFEFEF;
  -ms-transform: rotate(80.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Line_3 {
  stroke-width: 2px;
  stroke: #EFEFEF;
  -ms-transform: rotate(58.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Line_3 {
  stroke-width: 2px;
  stroke: #EFEFEF;
  -ms-transform: rotate(58.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Line_4 {
  stroke-width: 2px;
  stroke: #EFEFEF;
  -ms-transform: rotate(315.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Line_4 {
  stroke-width: 2px;
  stroke: #EFEFEF;
  -ms-transform: rotate(315.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Ellipse_3 {
  stroke-width: 4px;
  stroke: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Notification {
  -ms-transform: rotate(0.0deg);
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b #s-Notification-Number {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7801dfac-7a14-43f2-b665-58f248a89f3b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}