#s-7f1f97e4-8193-4cc7-8462-3ce809af458c #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7f1f97e4-8193-4cc7-8462-3ce809af458c #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-7f1f97e4-8193-4cc7-8462-3ce809af458c #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-7f1f97e4-8193-4cc7-8462-3ce809af458c #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-7f1f97e4-8193-4cc7-8462-3ce809af458c #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-7f1f97e4-8193-4cc7-8462-3ce809af458c #s-Ellipse_6 {
  -ms-transform: rotate(0.0deg);
}
#s-7f1f97e4-8193-4cc7-8462-3ce809af458c #s-Ellipse_7 {
  -ms-transform: rotate(0.0deg);
}
#s-7f1f97e4-8193-4cc7-8462-3ce809af458c #s-Ellipse_8 {
  -ms-transform: rotate(0.0deg);
}
#s-7f1f97e4-8193-4cc7-8462-3ce809af458c #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7f1f97e4-8193-4cc7-8462-3ce809af458c #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-7f1f97e4-8193-4cc7-8462-3ce809af458c #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-7f1f97e4-8193-4cc7-8462-3ce809af458c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}