#s-81545e6d-9fa5-4e3e-8d30-b2ccadcc5b45 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-81545e6d-9fa5-4e3e-8d30-b2ccadcc5b45 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F3F3F3;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F3F3F3;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F3F3F3;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F3F3F3;
  -ms-transform: rotate(0.0deg);
}
#s-81545e6d-9fa5-4e3e-8d30-b2ccadcc5b45 #s-Ellipse_1 {
  stroke-width: 4px;
  stroke: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-81545e6d-9fa5-4e3e-8d30-b2ccadcc5b45 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-81545e6d-9fa5-4e3e-8d30-b2ccadcc5b45 #s-testo_profilo_compleanno {
  -ms-transform: rotate(0.0deg);
}
#s-81545e6d-9fa5-4e3e-8d30-b2ccadcc5b45 #s-Image_76 {
  -ms-transform: rotate(0.0deg);
}
#s-81545e6d-9fa5-4e3e-8d30-b2ccadcc5b45 #s-testo_profilo_compleanno_1 {
  -ms-transform: rotate(0.0deg);
}
#s-81545e6d-9fa5-4e3e-8d30-b2ccadcc5b45 #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-81545e6d-9fa5-4e3e-8d30-b2ccadcc5b45 #s-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#s-81545e6d-9fa5-4e3e-8d30-b2ccadcc5b45 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
#s-81545e6d-9fa5-4e3e-8d30-b2ccadcc5b45 #s-Rectangle_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  filter: alpha(opacity=60);
  -ms-transform: rotate(0.0deg);
}
#s-81545e6d-9fa5-4e3e-8d30-b2ccadcc5b45 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-81545e6d-9fa5-4e3e-8d30-b2ccadcc5b45 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-81545e6d-9fa5-4e3e-8d30-b2ccadcc5b45 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-81545e6d-9fa5-4e3e-8d30-b2ccadcc5b45 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-81545e6d-9fa5-4e3e-8d30-b2ccadcc5b45 #s-Button_10 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35);
  filter: alpha(opacity=35);
  -ms-transform: rotate(0.0deg);
}
#s-81545e6d-9fa5-4e3e-8d30-b2ccadcc5b45 #s-Button_9 {
  border-radius: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  height: 29px;
  width: 80px;
  -ms-transform: rotate(0.0deg);
}
#s-81545e6d-9fa5-4e3e-8d30-b2ccadcc5b45 #s-Notification {
  -ms-transform: rotate(0.0deg);
}
#s-81545e6d-9fa5-4e3e-8d30-b2ccadcc5b45 #s-Notification-Number {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-81545e6d-9fa5-4e3e-8d30-b2ccadcc5b45 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}