#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Ellipse_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Rettangolo_per_evento {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Image_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Ellipse_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Notification {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Notification-Number {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}