#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Rettangolo_per_evento {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 7px 7px 7px 7px;
  -ms-transform: rotate(0.0deg);
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Image_103 {
  -ms-transform: rotate(0.0deg);
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Ellipse_4 {
  stroke-width: 4px;
  stroke: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Notification {
  -ms-transform: rotate(0.0deg);
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Notification-Number {
  -ms-transform: rotate(0.0deg);
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-8928c13a-1aa9-47cd-bcf1-723bfe4df0bb > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}