#s-89a3d237-90c2-4796-ac2c-3b0c53413f63 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89a3d237-90c2-4796-ac2c-3b0c53413f63 #s-Item-row_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89a3d237-90c2-4796-ac2c-3b0c53413f63 #s-Image_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89a3d237-90c2-4796-ac2c-3b0c53413f63 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89a3d237-90c2-4796-ac2c-3b0c53413f63 #s-Item-row_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89a3d237-90c2-4796-ac2c-3b0c53413f63 #s-Image_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89a3d237-90c2-4796-ac2c-3b0c53413f63 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89a3d237-90c2-4796-ac2c-3b0c53413f63 #s-Ellipse_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89a3d237-90c2-4796-ac2c-3b0c53413f63 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89a3d237-90c2-4796-ac2c-3b0c53413f63 #s-Notification {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-89a3d237-90c2-4796-ac2c-3b0c53413f63 #s-Notification-Number {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-89a3d237-90c2-4796-ac2c-3b0c53413f63 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}