#s-b9c06432-ed96-4458-a48b-79865d62f6f5 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9c06432-ed96-4458-a48b-79865d62f6f5 #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9c06432-ed96-4458-a48b-79865d62f6f5 #s-flat_Button_lightTheme {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9c06432-ed96-4458-a48b-79865d62f6f5 #s-flat_Button_disabled {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9c06432-ed96-4458-a48b-79865d62f6f5 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9c06432-ed96-4458-a48b-79865d62f6f5 #s-flat_Button_lightTheme_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9c06432-ed96-4458-a48b-79865d62f6f5 #s-flat_Button_disabled_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9c06432-ed96-4458-a48b-79865d62f6f5 #s-Ellipse_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9c06432-ed96-4458-a48b-79865d62f6f5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9c06432-ed96-4458-a48b-79865d62f6f5 #s-Ellipse_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9c06432-ed96-4458-a48b-79865d62f6f5 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9c06432-ed96-4458-a48b-79865d62f6f5 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9c06432-ed96-4458-a48b-79865d62f6f5 #s-flat_Button_disabled_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9c06432-ed96-4458-a48b-79865d62f6f5 #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9c06432-ed96-4458-a48b-79865d62f6f5 #s-Notification {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b9c06432-ed96-4458-a48b-79865d62f6f5 #s-Notification-Number {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b9c06432-ed96-4458-a48b-79865d62f6f5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}