#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Picture_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-star-1_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-star-1_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-star-1_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-star-1_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-star-1_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Picture_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-star-1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-star-1_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-star-1_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-star-1_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-star-1_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-flat_Button_lightTheme {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-star-1_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-star-1_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-star-1_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-star-1_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-star-1_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-flat_Button_lightTheme_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Image_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Ellipse_2 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=12);
  filter: alpha(opacity=12);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Ellipse_3 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Image_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Rectangle_7 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60) ;
  filter: alpha(opacity=60) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Button_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Button_10 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=35) ;
  filter: alpha(opacity=35) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Notification {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 #s-Notification-Number {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-bd98c769-34e2-4e50-abdf-1150c88473b2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}