#s-c550f57f-e007-43a8-93fd-850f79d28883 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c550f57f-e007-43a8-93fd-850f79d28883 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-c550f57f-e007-43a8-93fd-850f79d28883 #s-Image_14 {
  -ms-transform: rotate(305.0deg);
}
#s-c550f57f-e007-43a8-93fd-850f79d28883 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-c550f57f-e007-43a8-93fd-850f79d28883 #s-Rectangle_1 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 11px 11px 11px 11px;
  -ms-transform: rotate(0.0deg);
}
#s-c550f57f-e007-43a8-93fd-850f79d28883 #s-Rettangolo_evento {
  -ms-transform: rotate(0.0deg);
}
#s-c550f57f-e007-43a8-93fd-850f79d28883 #s-Image_43 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c550f57f-e007-43a8-93fd-850f79d28883 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}