#m-08451681-5f74-428d-97f0-174aebfbce0d #m-08451681-Box_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-08451681-5f74-428d-97f0-174aebfbce0d #m-08451681-Icona_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-08451681-5f74-428d-97f0-174aebfbce0d.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}