#m-0b9856ab-a65e-42b1-8adc-d8ec53a30acc #m-0b9856ab-Box_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0b9856ab-a65e-42b1-8adc-d8ec53a30acc #m-0b9856ab-Icona_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-0b9856ab-a65e-42b1-8adc-d8ec53a30acc.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}