#m-16e7f65c-7c83-461e-84ec-df214e6390e3 #m-16e7f65c-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-16e7f65c-7c83-461e-84ec-df214e6390e3 #m-16e7f65c-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#m-16e7f65c-7c83-461e-84ec-df214e6390e3.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}