#m-16e7f65c-7c83-461e-84ec-df214e6390e3 #m-16e7f65c-Rectangle_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  border-radius: 4px 4px 4px 4px;
  box-shadow: none;
}
#m-16e7f65c-7c83-461e-84ec-df214e6390e3 #m-16e7f65c-Rectangle_1 {
  position: absolute;
  width: 322px;
  height: 43px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 11.0pt;
  font-family: 'Montserrat Light',Arial;
}
#m-16e7f65c-7c83-461e-84ec-df214e6390e3 #m-16e7f65c-Rectangle_1 > .clipping, #m-16e7f65c-7c83-461e-84ec-df214e6390e3 #m-16e7f65c-Rectangle_1 > .paddingLayer {
  height: 41px;
  width: 320px;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}
#m-16e7f65c-7c83-461e-84ec-df214e6390e3 #m-16e7f65c-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#m-16e7f65c-7c83-461e-84ec-df214e6390e3 #m-16e7f65c-Rectangle_1 span {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat Light',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 300;
}
#m-16e7f65c-7c83-461e-84ec-df214e6390e3 #m-16e7f65c-Rectangle_1 span#rtr-m-16e7f65c-Rectangle_1_0 {
  color: #808080;
  text-align: left;
  text-decoration: none;
  font-family: 'Montserrat Light',Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 300;
  line-height: 0px;
}
#m-16e7f65c-7c83-461e-84ec-df214e6390e3 #m-16e7f65c-Image_1 > svg {
}
#m-16e7f65c-7c83-461e-84ec-df214e6390e3 #m-16e7f65c-Image_1 {
  position: absolute;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#m-16e7f65c-7c83-461e-84ec-df214e6390e3 #m-16e7f65c-Image_1 > img, #m-16e7f65c-7c83-461e-84ec-df214e6390e3 #m-16e7f65c-Image_1 > svg {
  height: 24px;
  width: 24px;
  box-shadow: none;
}
#m-16e7f65c-7c83-461e-84ec-df214e6390e3.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}